<!DOCTYPE html>
<html>
<head>
    <title>App</title>
    <link href="~/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>

    <div class="container body-content">
        @RenderBody()
    </div>

    <script src="~/js/jquery.min.js"></script>
    <script src="~/js/jquery.unobtrusive-ajax.min.js"></script>

    @RenderSection("scripts", required: false)
</body>
</html>
